{
    "presets": [
        ["env", { "modules": false }]
    ],
    "plugins": [
        "syntax-async-functions",
        "syntax-dynamic-import",
        "transform-regenerator",
        "transform-object-rest-spread"
    ],
    "env": {
        "test": {
            "presets": [["env"]]
        }
    }
}